*.o
*.swp
*.ii
*.ptx
*.cubin
*.fatbin*
*.module_id
*.nsys-rep
*.ncu-rep
*.sqlite
*.onnx
*.eggs
build/
*.so
*.egg-info
__pycache__
.ycm_extra_conf.py
.vimrc
.vs
.vscode
.cache
.hypothesis
.devcontainer.json
tests/cpp/build/
docs/_build
.ipynb_checkpoints
docs/doxygen
*.log
CMakeFiles
CMakeCache.txt
build.ninja
cuda_to_hip_list_tmp_*.txt
hipify_output_dict_dump.txt
cmake_install.cmake
fwd_blob_list.txt
bwd_blob_list.txt
fmha_fwd_*.cpp
fmha_bwd_*.cpp
sdist/
var/
wheels/
share/python-wheels/
.installed.cfg
*.egg
MANIFEST
develop-eggs/
dist/
downloads/
.pytest_cache/
